* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    border: none;
    font-family: Poppins, sans-serif;
}

section {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

section:first-of-type {
    padding-top: 60px;
    background-image: url(Images/cyberpunk-city-wallpaper-320416450.png);
}

section:nth-of-type(2) {
    background-image: url(Images/cyberpunk-city-wallpaper-320416450\ \(1\).png);
}

section:nth-of-type(3) {
    background-image: url(Images/cyberpunk-city-wallpaper-320416450\ \(2\).png);
}

section:nth-of-type(4) {
    background-image: url(Images/cyberpunk-city-wallpaper-320416450\ \(3\).png);
}

main {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-container {
    width: 60%;
}

.header {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    background-color: black;
}

.header ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    height: 100%;
    margin-right: 10%;
}

.header li {
    display: flex;
    height: 100%;
    padding: 0 5%;
    ;
}

.header a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    letter-spacing: 4px;
}

#page-title {
    font-size: 72px;
    text-align: center;
    color: white;
}

section p, .section-title {
    color: white;
}